/* not done with this, just wanted to commit it now */

/* Header */
    #header h4 {
        border-bottom: 1px solid #ccc;

    }

/* Results */
    .result {
        background-color: #D9D9D9;
        border: 1px;
        border-style: groove;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin: 10px;
        padding-left: 18px;
    }

    .active {
        background-color: #8C8C8C;
    }
