@import url(http://fonts.googleapis.com/css?family=Lemon);
@import url(http://fonts.googleapis.com/css?family=Amaranth);
@import url(http://fonts.googleapis.com/css?family=Days+One);


/* Make page full-height */
    body, html, .container {
        height: 100%;
        z-index: -5;
    }

/* Header */

    h2 {
    	font-family: 'amaranth',cursive;
    	font-size:30px;
    	text-align:center;
    	padding-top: 50px;
    	padding-bottom: 20px;
    }

    #choices {
        position: relative;
    }

    #drBtns button {
    	height:200px;
    	width:133px;
    	text-align:center;
    	/*margin:10px;*/
    	border-radius: 5px;
    	border-color: #ccc;

    }

    #choices p {
    	font-size: 15px;
    }

    #choices button span{
    	text-align: center;
    	font-family: 'Days one';
    	font-size:60px;
    }

    .drBtn:last-child {
        width: 130px;
    }

    #drBtns {
        width: 870px;
        background-color: white;
        position: relative;
        z-index: 100;
    }

    #customContainer {
    	border-style: solid;
    	border-color: #ccc;
    	border-width: thin;
    	border-radius: 5px;
    	height: 198px;
    	width: 220px;
    	/*display:none;*/
    	overflow:auto;
        position: absolute;
        top: 0;
        left: 630px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }

    #customContainer input{
    	margin-left: 25px;
    	margin-bottom: 25px;
    	width: 130px;
    	height:25px;

    }

    #customContainer button{
        margin-bottom: 5px;
    }

    #customContainer .btn-success{
        margin-top: -20px;
    }

    #customContainer h3{
    	font-size: 15px;
    	font-family: 'amaranth',cursive;
    	text-align: center;
    }

    #customContainer i{
    	text-align: center;
    }

    #customContainer span{
    	margin-left:25px;
    	width:148px;
    	float:left;
    	display:block;
    }

    #meal {
        margin-top: 10px;
        width: 400px;
    }


