@import url(http://fonts.googleapis.com/css?family=Lemon);
@import url(http://fonts.googleapis.com/css?family=Amaranth);

/* Make page full-height */
    body, html, .container, #content {
        height: 100%;
        overflow-y: hidden;
    }

/* Loader */
    #content, #no-results {
        display: none;
    }

    #loader, #no-results {
        text-align: center;
        padding-top: 50px;
    }

    #loader img {
        padding-top: 100px;
        -webkit-filter: blur(1px);
    }



/* Results pane */
    #recipe-results {
        width: 28%;
        float: left;
        height: calc(100% - 125px);
        overflow-y: auto;
        overflow-x: hidden;
    }

/* Recipe pane */
    #recipe-pane {
        width: 68%;
        float: right;
        height: calc(100% - 125px);
        overflow-y: auto;
        padding-right: 10px;
    }

    /* Details */
        #recipe-source::before {
            content: "Source: ";
            color: black;
            display: inline-block;
            margin-right: 0.4em;
        }

        a#recipe-source:hover::before {
            text-decoration: none;
        }

        #recipe-time::before {
            content: "Time: ";
        }

        #recipe-servings::before {
            content: "Servings: ";
        }

    /* Ingredient toggle button */
        #recipe-ingred-toggle {
            padding-left: 50%;
            margin: 25px 0 25px -75px;
        }

    /* Ingredient section */
        #recipe-ingred-section li {
            width: auto;
            display: block;
            float: left;
            clear: both;
            padding: 5px;
            border-radius: 5px;
        }

        .ingred-orig, .ingred-sub {
            display: inline-block;
        }

        .ingred-orig {
            margin-right: 10px;
        }

        .ingred-sub {
            transition: opacity 0.2s;
        }

        #recipe-pane.substituted .ingred-orig  {
            text-decoration: line-through;
        }

        #recipe-pane.original .ingred-sub {
            opacity: 0;
        }

        #recipe-ingred-section button {
            margin-left: 5px;
            padding: 2px 5px;
            transition: opacity 0.2s;
        }

        #recipe-pane.original #recipe-ingred-section button {
            margin-left: 5px;
            padding: 2px 5px;
            opacity: 0;
        }

    /* popover */
        .popover {
            cursor: default;
        }

    /* Directions */
        #recipe-pane.substituted #recipe-directions-orig {
            display: none;
        }

        #recipe-pane.original #recipe-directions-sub {
            display: none;
        }


/* General-purpose utilities */
    .clear {
        clear: both;
    }